{{!-----footer----------}}
    <footer>
        <div class="row">
                <div class="col-sm-6">
            <h5>Información</h5>
            <ul class="list-unstyled">
                        <li><a href="">Cómo comprar</a></li>
                        <li><a href="">Envíos &amp; Devoluciones</a></li>
                        <li><a href="nosotros">Sobre Nosotros</a></li>
                      </ul>
          </div>
                <div class="col-sm-6">
            <h5>Servicio al Cliente</h5>
            <ul class="list-unstyled">
              <li><a href="">Contacte</a></li>
              <li><a href="">Devoluciones</a></li>
              <li><a href="">Mapa</a></li>
            </ul>
          </div>
        </div>
        <hr>
        <p>Lazuli Bazar y Deco | @2020</p>
      </div>

    
    <script src="js/bootstrap.min.js"></script>
    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script> 
  </body>
</html>