{{>header}}

<div class="error">
    <div class="error_mensaje">
        <h3>Ouch! Parece que tenemos un problema! Por favor, vuelve a intentarlo en unos minutos</h3>

    </div>
    <div class="error_img">
        <img src="imagenes/homero_error.png" alt="">
    </div>
</div>








{{>footer}}