<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/cssboot/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container_init">
    </div>

      <a href="login" class="btn-login-init">Iniciar Sesion</a>
      <a href="register" class="btn-register-init">Registrarse</a>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>