{{>header}}

<div class="alert container position-sticky top-0 alert-danger remove" role="alert">
    Usuario y/o contraseña incorrecta   </div>
        <div class="container_form col" >
            <div class="row_login">
                <div class="col_form" id="login-box">
                    <h2>Ya es cliente</h2>
                    <form action="/auth" method="POST" >
                        <div class="form-group">
                            <label class="control-label">
                            <i class="fa fa-user" aria-hidden="true"></i> Usuario</label>
                            <input type="text" name="user" class="renglon" id="user" required>
                        </div>
                        <div class="form-group" >
                            <label class="control-label">
                            <i class="fa fa-unlock" aria-hidden="true"></i> Contraseña
                            </label>
                            <input type="password" name="pass" class="renglon" id="pass" required>
                        </div>
                        <input type="submit" class="btn-login" value="Login">
                    </form>
                </div>   
            </div>
        </div>
{{>footer}}
