{{>header}}
      <div class="container">
        <img src="imagenes/lazuli_logo_resp.png" alt="logo" class="img-responsive">
            </div>
          </div>

<div class="nosotros">
    <div class="text">
        <p>En el año 2020, plena pandemia, nacio Lazuli Bazar y Deco. </p>
        <p>Empezamos con apenas 12 envases, y avanzamos hasta llegar a tener un stock de mas 700 productos</p>
        <p>En Lazuli Bazar y deco nos gusta trabajar con stock para asi poder asegurarnos un 
            rapido despacho, haciendo que los productos lleguen a destino mas rapido y que 
            las emprededora que confian en nosotros puedan trabajar sin demora.</p>
        <p>Si estas empezando tu emprendimiento o estas buscando nuevos proveedores, no dudes en contactarte 
            con nosotros, te estaremos ayudando a elegir lo mejor para tu negocio.
        </p>
    </div>
</div>













{{>footer}}