{{>header}}
      <div class="container">
        <img src="imagenes/lazuli_logo_resp.png" alt="logo" class="img-responsive">
            </div>
          </div>
          <div><a href="carrito"><i class="fa-solid fa-cart-shopping"></i></a></div>
          <div class="alert container position-sticky top-0 alert-primary hide" role="alert">
    Producto Añadido al carrito!
    </div>
      <!--------------- Cards ----------------->
      <div class="col-4 producto">
        <div class="card"> 
          <a href=""><img class="card-img-top" src="imagenes/lexington_rose.jpg" alt="lexington" ></a>
          <div class="card-body-pr"> 
          <h5 class="card-title">Lexington</h5>
          <p class="card-text">Capacidad 320ml. Oro, plomo y rose gold</p>
          <h5 class="text-dark">Precio: <span class="precio">$500</span></h5>
          <div class="d-grid gap-2">
          <button class="btn btn-dark button">Añadir a Carrito</button>
          </div>
        </div>
      </div>
      </div>
      <div class="col-4 producto">
        <div class="card"> 
          <a href=""><img class="card-img-top" src="imagenes/apagavelas.JFIF" alt="apagavelas" ></a>
        <div class="card-body-pr"> 
          <h5 class="card-title">Apagavelas</h5>
          <p class="card-text">Con capuchones de 2 cm, dijes variados y cadenas de difentes tipos</p>
          <h5 class="text-dark">Precio: <span class="precio">$120</span></h5>
          <div class="d-grid gap-2">
          <button class="btn btn-dark button">Añadir a Carrito</button>
          </div>
        </div>
      </div>
      </div>
      <div class="col-4 producto">
        <div class="card"> 
          <a href=""><img class="card-img-top" src="imagenes/copa_diamante.jpg" alt="copa diamante" ></a>
        <div class="card-body-pr"> 
          <h5 class="card-title">Copa Diamante</h5>
          <p class="card-text">Copa diamante alta(145mm) y baja (95mm)</p>
          <h5 class="text-dark">Precio: <span class="precio">$400</span></h5>
          <div class="d-grid gap-2">
          <button class="btn btn-dark button">Añadir a Carrito</button>
          </div>
        </div>
      </div>
      </div>
      <div class="col-4 producto">
        <div class="card"> 
          <a href=""><img class="card-img-top" src="imagenes/7505_rojo.jpg" alt="7505 rojo" ></a>
          <div class="card-body-pr"> 
          <h5 class="card-title">7505 Color</h5>
          <p class="card-text">Capacidad 320ml, diametro de boca 80 mm, alto 85 mm</p>
          <h5 class="text-dark">Precio: <span class="precio">$270</span></h5>
           <div class="d-grid gap-2">
          <button class="btn btn-dark button">Añadir a Carrito</button>
          </div>
        </div>
      </div>
      </div>
      <div class="col-4 producto">
        <div class="card"> 
          <a href=""><img class="card-img-top" src="imagenes/tapa-oro-rosado.jpg" alt="tapas" ></a>
        <div class="card-body-pr"> 
          <h5 class="card-title">Tapas  aluminio</h5>
          <p class="card-text">Diferentes medidas y colores. Anodizadas</p>
          <h5 class="text-dark">Precio: <span class="precio">$200</span></h5>
          <div class="d-grid gap-2">
          <button class="btn btn-dark button">Añadir a Carrito</button>
          </div>
        </div>
      </div>
      </div>
      <div class="col-4 producto">
        <div class="card"> 
          <a href=""><img class="card-img-top" src="imagenes/tennesse-tiffany.jpg" alt="tennesse" ></a>
        <div class="card-body-pr"> 
          <h5 class="card-title">Tennesse color</h5>
          <p class="card-text">Capacidad 320 ml, diametro de boca 84mm, alto 84mm</p>
          <h5 class="text-dark">Precio: <span class="precio">$320</span></h5>
          <div class="d-grid gap-2">
          <button class="btn btn-dark button">Añadir a Carrito</button>
          </div>
        </div>
      </div>
      </div>
            <!-----Fin de Cards----->
  </div>
<script src="js/carrito.js"></script>
{{>footer}}